.feedback-form {
  padding: 24px 20px;
  padding-top: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 64px 60px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 71px 120px;
    padding-top: 0;
  }
}

.feedback-form__subtitle {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: @mobile-width-only) {
    padding: 24px 0 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
    text-align: center;
  }
}

.feedback-form__subtitle--info {
  @media (min-width: @tablet-width) {
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 103px;
    text-align: center;
  }
}

.feedback-form__subtitle--contact-info {
  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 95px;
    text-align: center;
  }
}

.feedback-form__subtitle:last-of-type {
  @media (max-width: @mobile-width-only) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback-form__group {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.feedback-form__group:first-of-type {
  position: relative;
}

.feedback-form__group:first-of-type::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -52px;
    right: -43px;
    width: 1px;
    height: 338px;
    background: #dbdbdb;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: -52px;
    right: -64px;
    width: 1px;
    height: 338px;
    background: #dbdbdb;
  }
}

.feedback-form__group:nth-of-type(3) {
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -41px;
      right: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;

    &::before {
      content: "";
      position: absolute;
      top: -41px;
      right: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -41px;
      left: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }
  }
}

.feedback-form__group:nth-of-type(4) {
  @media (min-width: @tablet-width) {
    margin-bottom: 42px;

    &::before {
      content: "";
      position: absolute;
      top: -56px;
      right: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -56px;
      left: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;

    &::before {
      content: "";
      position: absolute;
      top: -55px;
      right: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }
  }
}

.feedback-form__group:nth-of-type(n+3):nth-of-type(-n+4) {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.feedback-form__group:nth-of-type(n+3) {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
  }
}

.feedback-form__group:not(:last-of-type) {
  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      top: calc(100% + 24px);
      right: -20px;
      width: 320px;
      height: 1px;
      background: #e5e5e5;
    }
  }
}

.feedback-form__group:last-of-type {
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      right: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      width: 123px;
      height: 1px;
      background: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      width: 280px;
      height: 1px;
      background: #dbdbdb;
    }
  }
}

.feedback-form__button {
  border: 0;
  padding: 16px 49px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 101px;
    margin-left: 96.5px;
  }
}
