.intro {
  font-family: "PT Sans", sans-serif;
}
.intro__wrapper {
  width: 320px;
}
.intro__background {
  background-image: url(/source/img/intro-triangle.svg), url(/source/img/welcome-sedona.svg), url(/source/img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%, 282px 214px, 320px 389px;
  background-position: 50% 100%, 50% 50%, 50% 50%;
  min-height: 391px;
}
.intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.intro__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
