.product {}

.product__title {
   font-style: normal;
   font-weight: 700;
   font-size: 21px;
   line-height: 26px;
   text-align: center;
   text-transform: uppercase;
}

.product__description {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
}

.product__list {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.product__card {
   padding: 24px 20px 25px;
}

.card {}

.card__image {
   margin-bottom: 15px;
}

.card__title {
   margin: 0;
   margin-bottom: 10px;
   padding: 0;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 21px;
   text-transform: uppercase;
}

.card__author {
   margin: 0;
   margin-bottom: 11px;
   padding: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
}

.author__name {}

.card__like {
   border: 0;
   margin: 0;
   margin-right: 14px;
   padding: 0;
   background-color: transparent;
   cursor: pointer;

}

.card__count {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 21px;
   text-transform: uppercase;
}
