.product {
  background: #ffffff;
}

.product__title {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.product__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 88px;
  }
}
