html {
  height: 100%;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  color: #ffffff;
  background: #81b3d2;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: #669ec0;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}
.button:disabled {
  color: #ffffff;
  background: #e5e5e5;
}
